<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
      package="com.giago.games.carwars.android"
      a:screenOrientation="portrait"
      a:versionCode="1"
      a:versionName="1.0">
    <uses-sdk a:minSdkVersion="6" a:targetSdkVersion="11" />
    <uses-permission a:name="android.permission.WAKE_LOCK" />
    <application a:icon="@drawable/icon" a:label="@string/app_name" a:debuggable="true">
        <activity a:name="CarwarsGameActivity"
        		  a:screenOrientation="portrait"
                  a:label="@string/app_name"
                  a:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  a:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
